// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
}

.footer {
  text-align: center;
}

.vertical-line {
  border-right: 2px solid #72B0E6;
  margin-top: 20px;
}

.products {
  margin-top: 20px;

  .product {
    margin-top: 10px;
  }

  .product-image {
    img{
      width: 100%;
    }
  }
}