.row
  .col-xs-4
    .product-image
      %img{src: 'http://i01.i.aliimg.com/wsphoto/v6/1860601699_1/2015-New-Skmei-Brand-Men-LED-Digital-Military-Watch-50M-Dive-Swim-Dress-Sports-Watches-Fashion.jpg_350x350.jpg'}
  .col-xs-8
    .title
      %h1
        = @product.title
    .description
      = @product.description